.elementor-24 .elementor-element.elementor-element-bd9454e > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-24 .elementor-element.elementor-element-bcabed0{text-align:center;font-family:"Lato", Sans-serif;font-weight:400;}/* Start custom CSS for text-editor, class: .elementor-element-bcabed0 */pre {
    font-family: Lato;
}

a {
    color:#FB9A54;
}/* End custom CSS */